

body {
    font-family: sans-serif;
    margin: 1px;
}

header {
    background-color: #f0f0f0;
    padding: 20px ;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    text-align: center; 
}

nav li {
    display: inline; 
    margin:  10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.product-details {
    padding: 20px;
    text-align: center;
}

.product-details img {
    max-width: 100%; 
    height: auto;    
    margin-bottom: 15px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: green; 
}

.add-to-cart {
    background-color: blue; 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.customer-reviews {
    padding: 20px;
}

.review {
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 15px;
}


.author {
    font-weight: bold; 
    font-style: italic;
}