.submit-btn {
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}
body {
    
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}
.h1 {
    background-color: brown;
    text-align: center;
   }